# Chapter 2: Basic Python

### Udit Karthikeyan

"**Definition 2.0.1** Python is a programming language (and yes, it’s named for the sketch troupe
Monty Python). It is an interpreted high-level programming language for general-purpose
programming, and one of the most common languages used in astronomy."

### 2.1: Hello World

In [4]:
print('hello world!')

hello world!

The difference between Python and Java as seen by the Hello World trivial example is the difference in syntax between the print statements; where Java utilizes "System.out.print", Python simply uses "print". A somewhat recent change has been the need to treat the print statement as a function, needing parentheses; before, "print x" would return an output.

"**Definition 2.1.1**: A print statement is a line of code which tells the interpreter (the thing that
turns your "English" commands into computer bits and executes them within the bowels of your
computer) to output something to the screen."

In [10]:
3 * 5

15

In [11]:
print(3*5)

15

"**Definition 2.2.1** Data types are the fundamental building blocks of a code, a property that every
object/element/variable in a written code will have, and which will determine the rules by which
Python operates on them."

In [7]:
type(3*5)

int

In [8]:
type(3.0*5.0)

float

In [12]:
type("Hello world!")

str

In [13]:
type([1,2,2,3])

list

In [20]:
type({1,2,3})

set

In [15]:
type((1,2, "hello"))

tuple

In [16]:
type(True)

bool

Type casting can be done in python; you can convert ints to floats pretty easily, and can convert a String consisting purely of numbers into a int.

In [19]:
x = 5.0
y = int(x)
print (type(y))

<class 'int'>

Note with working with lists:

In [21]:
new_list = [1,2,3,3,5]
list1 = new_list * 2
print(list1)

[1, 2, 3, 3, 5, 1, 2, 3, 3, 5]

If you want to multiply the values inside of a list, you need to do the following:

In [27]:
list1 = [1,2,3,4,5]
list2 = [i*2 for i in list1]
print(list2)

[2, 4, 6, 8, 10]

If using NumPy, you can also use an array and then simply multiply the array by 2

To retrieve the data in lists, you need to slice the array at certain indices to retrieve the data. Indices are the numbers assigned to each element of a list, starting from 0. When slicing, the first index is the starting point, and the second index (if included) is the ending point but is excluded from the "slice"

In [30]:
new_list = [1, 2, 3, 5, 'Hello']
list_element = new_list[1]
print(list_element)

2

You can slice arrays and strings in the same way:

In [32]:
String = "The James Webb Telescope"
s1 = String[0:3]
print(s1)

The

You can iterate through a list backwards by using negative indices:

In [41]:
String = "The James Webb Telescope"
s1 = String[-9:]
print(s1)

Telescope

We can alter the elements of lists by appending, changing, or deleting certain elements:

In [42]:
list1 = [1,2,3,4,5,6,7]
list1[3] = 'new value'
print(list1)

[1, 2, 3, 'new value', 5, 6, 7]

In [44]:
list1 = [1,2,3,4,5,6,7]
del list1[4]
print(list1)

[1, 2, 3, 4, 6, 7]

In [45]:
list1 = [1,2,3,4,5,6]
list1.append(7)
print(list1)

[1, 2, 3, 4, 5, 6, 7]

We can also flip an array. This mostly works with multidimensional arrays, but can be done with a single-dimension array

In [46]:
list1 = [[1,2,3],[4,5,6],[7,8,9]]
list2 = list1[::-1]
print(list2)

[[7, 8, 9], [4, 5, 6], [1, 2, 3]]

In [51]:
list1 = [1,2,3,4,5,6]
list2 = list1[::-1]
print(list2)

[6, 5, 4, 3, 2, 1]

"**Definition 2.8.1** A dictionary is a Python container, like a list or array, but which uses “keys”
instead of indices to specify elements within the container. That is, the order of elements (values)
in a dictionary is irrelevant, and values are retrieved by indexing for the appropriate key (which
can be almost anything)"

In [54]:
dictionary = {"key1": "1999", 2: "Moon"}
val1 = dictionary["key1"]
val2 = dictionary[2]
print(val1 + " and " + val2)

1999 and Moon

In [55]:
dictionary = {"key1": "1999", 2: "Moon"}
val1 = dictionary["key1"]
val2 = dictionary[2]
dictionary["new_val"] = "Awareness"
print(dictionary)

{'key1': '1999', 2: 'Moon', 'new_val': 'Awareness'}

***Problems for Chapter 2***

Problem 2.1 Create a variable num_list, and set it equal to a list containing 42,46,54,65, and 90 as
elements. Then set a variable called sliced to num_list[3]. Print both to see what it outputs. Now
define a variable called "total’ and use the method shown above to set it equal to the sum of the first
two elements in the list (do this programmatically, not by typing them in manually). What is the
total you get?